<mat-drawer-container class="brands-container">
    <mat-drawer mode="side" opened  class="brands-left">
      <body class="text-center">
    
        <main class="form-signin w-100 m-auto">
          <form [formGroup]="brandAddForm">
            
        
            <div class="form-floating">
              <input formControlName="brandName" type="text" class="form-control" id="brandName" placeholder="brandName">
              <label for="brandName">Marka İsmi</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="addBrand()">Marka Ekle</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
          </form>
        </main>
          </body> 
    </mat-drawer>
    <mat-drawer-content>
       <div class="mb-3">
  <label for="brandFilter" class="form-label"> Marka Ara</label>
  <input type="text" [(ngModel)]="brandFilter" class="form-control" id="brandFilter" placeholder="arama ifadesi">
</div>
<div >
<table class="table">
  <thead>
    <th>Marka İsmi</th>
  </thead>
  <tbody>
    <tr *ngFor="let brand of brands|brandFilter:brandFilter" (click)="setCurrentBrand(brand)" class="table-group">
      <td>{{brand.brandName}}</td>
      <td><button class="btn btn-success" type="submit" (click)="deleteBrand()" [class]="getCurrentBrand(brand)">Sil</button></td>
      <td ><button class="btn btn-warning" type="submit"   [class]="getCurrentBrand(brand)" routerLink="update/{{brand.brandId}}">Güncelle</button> </td>
    </tr>
  </tbody>
</table>
</div> 


    </mat-drawer-content>
  </mat-drawer-container>
