<form [formGroup]="rentalAddForm" class="w-50 m-auto">
  <div class="mb-3">
    <h3>Kiralama tarihi {{rental.returnDate|date:'dd MM YYYY'}} tarhinden büyük olmalı</h3>
    <label for="rent" class="form-label">Kiralama Tarihi</label>
    <input formControlName="rentDate" type="date" class="form-control" id="rent" aria-describedby="">
  </div>
  <div class="mb-3">
    <label for="return" class="form-label">İade Tarihi</label>
    <input formControlName="returnDate" type="date" class="form-control" id="return">
  </div>
  <app-payment></app-payment>
  <button type="submit" class="btn btn-primary" (click)="addRental()" *ngIf="isCardNumberSelected()">Kirala</button>
</form>